{% load static %}
<!-- =--------------------------------------= Start WhishList Partition =------------------= -->
<section class="wishlist partition__large wrapper">
	<div class="table__wrapper">
		<table class="table">
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Price</th>
				<th>Availability</th>
				<th>Action</th>
				<th>Remove</th>
			</tr>
			<tr>
				<td>
					<img src="{% static 'images/Product-03-02.jpg' %}" alt="" class="table__image">
				</td>
				<td>
					<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
					<p class="table__description">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ratione.</p>
				</td>
				<td>
					<span class="table__price">&dollar;764.55</span>
				</td>
				<td>
					<span class="table__availability">Available</span>
				</td>
				<td>
					<a href="" class="btn btn__small">Add To Bag</a>
				</td>
				<td>
					<i class="fi fi-br-trash-xmark table__trash"></i>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{% static 'images/Product-11-01.jpg' %}" alt="" class="table__image">
				</td>
				<td>
					<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
					<p class="table__description">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ratione.</p>
				</td>
				<td>
					<span class="table__price">&dollar;764.55</span>
				</td>
				<td>
					<span class="table__availability">Available</span>
				</td>
				<td>
					<a href="" class="btn btn__small">Add To Bag</a>
				</td>
				<td>
					<i class="fi fi-br-trash-xmark table__trash"></i>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{% static 'images/Product-12-01.jpg' %}" alt="" class="table__image">
				</td>
				<td>
					<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
					<p class="table__description">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ratione.</p>
				</td>
				<td>
					<span class="table__price">&dollar;764.55</span>
				</td>
				<td>
					<span class="table__availability__red">Not Available</span>
				</td>
				<td>
					<a href="" class="btn btn__small">Add To Bag</a>
				</td>
				<td>
					<i class="fi fi-br-trash-xmark table__trash"></i>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{% static 'images/Product-06-01.jpg' %}" alt="" class="table__image">
				</td>
				<td>
					<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
					<p class="table__description">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ratione.</p>
				</td>
				<td>
					<span class="table__price">&dollar;764.55</span>
				</td>
				<td>
					<span class="table__availability__red">Not Available</span>
				</td>
				<td>
					<a href="" class="btn btn__small">Add To Bag</a>
				</td>
				<td>
					<i class="fi fi-br-trash-xmark table__trash"></i>
				</td>
			</tr>
		</table>
	</div>
</section>
		<!-- =--------------------------------------= End WhishList Partition =------------------= -->