{% load static %}
<!-- =--------------------------------------= Start CheckOut Partition =------------------= -->
<section class="checkout partition__large">
	<div class="checkout__wrapper wrapper display__grid">
		<div class="checkout__group">
			<h3 class="partition__title">Billing Details</h3>
			<form action="#" class="form display__grid">
				<input type="text" class="form__input" placeholder="Full Name..." />
				<input type="text" class="form__input" placeholder="Address..." />
				<input type="text" class="form__input" placeholder="City..." />
				<input type="text" class="form__input" placeholder="Country..." />
				<input type="text" class="form__input" placeholder="Postal Code..." />
				<input type="text" class="form__input" placeholder="Phone..." />
				<input type="email" class="form__input" placeholder="Email..." />
				<h3 class="checkout__title">Additional Information</h3>
				<textarea class="form__input form__text__area" placeholder="Order Notes ..." cols="30" rows="10"></textarea>
			</form>
		</div>
		<div class="checkout__group">
			<h3 class="partition__title">Bag Total</h3>
			<table class="order__table">
				<tr>
					<th colspan="2">Product</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>
						<img src="{% static 'images/Product-09-02.jpg' %}" class="order__image" />
					</td>
					<td>
						<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
						<p class="table__quantity">X 7</p>
					</td>
					<td>
						<span class="table__price">&dollar;8456.25</span>
					</td>
				</tr>
				<tr>
					<td>
						<img src="{% static 'images/Product-03-02.jpg' %}" class="order__image" />
					</td>
					<td>
						<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
						<p class="table__quantity">X 7</p>
					</td>
					<td>
						<span class="table__price">&dollar;8456.25</span>
					</td>
				</tr>
				<tr>
					<td>
						<img src="{% static 'images/Product-11-02.jpg' %}" class="order__image" />
					</td>
					<td>
						<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
						<p class="table__quantity">X 7</p>
					</td>
					<td>
						<span class="table__price">&dollar;8456.25</span>
					</td>
				</tr>
				<tr>
					<td>
						<img src="{% static 'images/Product-06-02.jpg' %}" class="order__image" />
					</td>
					<td>
						<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
						<p class="table__quantity">X 7</p>
					</td>
					<td>
						<span class="table__price">&dollar;8456.25</span>
					</td>
				</tr>
				<tr>
					<td>
						<img src="{% static 'images/Product-02-02.jpg' %}" class="order__image" />
					</td>
					<td>
						<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
						<p class="table__quantity">X 7</p>
					</td>
					<td>
						<span class="table__price">&dollar;8456.25</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="order__subtitle">SubTotal</span>
					</td>
					<td colspan="2">
						<span class="table__price">&dollar;8,585.45</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="order__subtitle">Shipping</span>
					</td>
					<td colspan="2">
						<span class="table__price">&dollar;1,154.23</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="order__subtitle">Total</span>
					</td>
					<td colspan="2">
						<span class="order__final__total">&dollar;9,754.85</span>
					</td>
				</tr>
			</table>
			<div class="payment__methods">
				<h3 class="checkout__title payment__title">Payment Methods</h3>
				<div class="payment__option display__flex">
					<input type="radio" name="radio" class="payment__input" checked />
					<label for="" class="payment__label">Direct Bank Transfer</label>
				</div>
				<div class="payment__option display__flex">
					<input type="radio" name="radio" class="payment__input" />
					<label for="" class="payment__label">Check Payment</label>
				</div>
				<div class="payment__option display__flex">
					<input type="radio" name="radio" class="payment__input" />
					<label for="" class="payment__label">PayPal</label>
				</div>
				<div class="payment__option display__flex">
					<input type="radio" name="radio" class="payment__input" />
					<label for="" class="payment__label">Cash On Delivery</label>
				</div>
			</div>
			<button class="btn btn__medium">Finalize Order</button>
		</div>
	</div>
</section>
<!-- =--------------------------------------= End CheckOut Partition =------------------= -->