{% load static %}

<!-- =--------------------------------------= Start Footer Partition =------------------= -->
<footer class="footer wrapper">
	<div class="footer__wrapper display__grid">
		<div class="footer__content">
			<a href="index.html" class="footer__logo">
				<img src="{% static 'images/Logo.svg' %}" class="{% static 'images/' %}footer__image" />
			</a>
			<h4 class="footer__sub__title">Contact</h4>
			<p class="footer__description">
				<span>Address:</span>
				Lorem ipsum dolor, sit amet consectetur adipisicing.
			</p>
			<p class="footer__description">
				<span>Phone:</span>
				+20 114 159 169 5.
			</p>
			<p class="footer__description">
				<span>Hours:</span>
				02:00 - 14:30, Sat - Thu
			</p>
			<div class="footer__social">
				<h4 class="footer__sub__title">Follow Me</h4>
				<div class="footer__social__links">
					<a href="#">
						<img src="{% static 'images/Icon-Facebook.svg' %}" class="footer__social__icon" />
					</a>
					<a href="#">
						<img src="{% static 'images/Icon-Twitter.svg' %}" class="footer__social__icon" />
					</a>
					<a href="#">
						<img src="{% static 'images/Icon-Instagram.svg' %}" class="footer__social__icon" />
					</a>
					<a href="#">
						<img src="{% static 'images/Icon-Pinterest.svg' %}" class="footer__social__icon" />
					</a>
					<a href="#">
						<img src="{% static 'images/Icon-YouTube.svg' %}" class="footer__social__icon" />
					</a>
				</div>
			</div>
		</div>
		<div class="footer__content">
			<h4 class="footer__title">Address</h4>
			<ul class="footer__links">
				<li>
					<a href="" class="footer__link">About Us</a>
				</li>
				<li>
					<a href="" class="footer__link">Delivery Inforamtion</a>
				</li>
				<li>
					<a href="" class="footer__link">Privacy Policy</a>
				</li>
				<li>
					<a href="" class="footer__link">Terms & Conditions</a>
				</li>
				<li>
					<a href="" class="footer__link">Contact Us</a>
				</li>
				<li>
					<a href="" class="footer__link">Support Center</a>
				</li>
			</ul>
		</div>
		<div class="footer__content">
			<h4 class="footer__title">My Account</h4>
			<ul class="footer__links">
				<li>
					<a href="" class="footer__link">Sign In</a>
				</li>
				<li>
					<a href="" class="footer__link">View Shopping Bag</a>
				</li>
				<li>
					<a href="" class="footer__link">My WhishList</a>
				</li>
				<li>
					<a href="" class="footer__link">Track My Order</a>
				</li>
				<li>
					<a href="" class="footer__link">Help</a>
				</li>
				<li>
					<a href="" class="footer__link">My Orders</a>
				</li>
			</ul>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">Payment GateWays</h3>
			<img src="{% static 'images/Payments-Cards.png' %}" class="payment__image" />
		</div>
	</div>
	<div class="footer__bottom">
		<p class="copyright">&copy; 2024 AMW All Rights Reserved</p>
		<span class="creator">Created By Ahmad Muhammad Waddah</span>
	</div>
</footer>
<!-- =--------------------------------------= End Footer Partition =------------------= -->