{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page }}{% endblock title %}

{% block content %}

<!-- =--------------------------------------= Start BreadCrumbs Partition =------------------= -->
{% include "../humans/_parts/_breadcrumbs.html" %}
<!-- =--------------------------------------= End BreadCrumbs Partition =------------------= -->

<!-- =--------------------------------------= Start Account Partition =------------------= -->
{% include "../humans/_parts/_account_part.html" %}
<!-- =--------------------------------------= End Account Partition =------------------= -->

<!-- =--------------------------------------= Start NewsLetter Partition =------------------= -->
{% include "../humans/_parts/_newsletter.html" %}
<!-- =--------------------------------------= End NewsLetter Partition =------------------= -->

{% endblock content %}