{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page }}{% endblock title %}

{% block content %}

<!-- =--------------------------------------= Start BreadCrumbs Partition =------------------= -->
{% include "../humans/_parts/_breadcrumbs.html" %}
<!-- =--------------------------------------= End BreadCrumbs Partition =------------------= -->

<!-- =--------------------------------------= Start Reset Password Complete Partition =------------------= -->
<section class="signup__signin partition__large">
    <div class="signup__signin__wrapper wrapper display__grid">
        <div class="sign__in">
            <p style="padding: 1rem; color: #088179;">
                Password Has Been Succesfully Reset.
            </p>
            <div class="form__btn">
                <a href="{% url 'Humans:HumanSignInUrl' %}" class="btn">Sign In From Here</a>
            </div>
        </div>
    </div>
</section>
<!-- =--------------------------------------= End Reset Password Complete Partition =------------------= -->

<!-- =--------------------------------------= Start NewsLetter Partition =------------------= -->
{% include "../humans/_parts/_newsletter.html" %}
<!-- =--------------------------------------= End NewsLetter Partition =------------------= -->

{% endblock content %}