{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page }}{% endblock title %}

{% block content %}

<!-- =--------------------------------------= Start BreadCrumbs Partition =------------------= -->
{% include "../humans/_parts/_breadcrumbs.html" %}
<!-- =--------------------------------------= End BreadCrumbs Partition =------------------= -->

<!-- =--------------------------------------= Start Change Password Done Partition =------------------= -->
<section class="signup__signin partition__large">
    <div class="signup__signin__wrapper wrapper display__grid">
        <div class="sign__in">
            <div style="padding: 1rem; color: #088179;">
                We've emailed you instructions for setting your password. If they haven't
                arrived in a few minutes, check your spam folder.
            </div>
        </div>
    </div>
</section>
<!-- =--------------------------------------= End Change Password Done Partition =------------------= -->

<!-- =--------------------------------------= Start NewsLetter Partition =------------------= -->
{% include "../humans/_parts/_newsletter.html" %}
<!-- =--------------------------------------= End NewsLetter Partition =------------------= -->

{% endblock content %}