{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}

<!-- =--------------------------------------= Start BreadCrumbs Partition =------------------= -->
{% include "../humans/_parts/_breadcrumbs.html" %}
<!-- =--------------------------------------= End BreadCrumbs Partition =------------------= -->

<!-- =--------------------------------------= Start Sign In Partition =------------------= -->
{% include "../humans/_parts/_signin_part.html" %}
<!-- =--------------------------------------= End Sign In Partition =------------------= -->

<!-- =--------------------------------------= Start NewsLetter Partition =------------------= -->
{% include "../humans/_parts/_newsletter.html" %}
<!-- =--------------------------------------= End NewsLetter Partition =------------------= -->

{% endblock content %}