{% load static %}
<!-- =--------------------------------------= Start Account Tabs Partition =------------------= -->
<div class="accounts__tabs">
	<p class="account__tab account__tab__active" data-target="#dashboard-tab">
		<i class="fi fi-br-settings-sliders"></i> DashBoard
	</p>
	<p class="account__tab" data-target="#orders-tab">
		<i class="fi fi-br-bags-shopping"></i> Orders
	</p>
	<p class="account__tab" data-target="#profile-tab">
		<i class="fi fi-br-user"></i> Update Profile
	</p>
	<p class="account__tab" data-target="#address-tab">
		<i class="fi fi-br-map-marker"></i> Address
	</p>
	<p class="account__tab" data-target="#change-password-tab">
		<i class="fi fi-br-user"></i> Authentications
	</p>
</div>
<!-- =--------------------------------------= End Account Tabs Partition =------------------= -->