{% load static %}
<!-- =--------------------------------------= Start BreadCrumb Partition =------------------= -->
<section class="breadcrumb">
	<ul class="breadcrumb__list wrapper display__flex">
		<li>
			<a href="{% url 'Pages:HomeUrl' %}" class="breadcrumb__link">Home</a>
		</li>
		<li>
			<span class="breadcrumb__link">&#45; &#62;</span>
		</li>
		<li>
			<span class="breadcrumb__link">{{ page }}</span>
		</li>
	</ul>
</section>
		<!-- =--------------------------------------= End BreadCrumb Partition =------------------= -->