{% load static %}
<section class="signup__signin partition__large">
    <div class="signup__signin__wrapper wrapper display__grid">
        <div class="sign__in">
            <h3 class="partition__title">{{ page }}</h3>
            <form method="POST" class="form display__grid" novalidate>
                {% csrf_token %}
                <strong>
                    {{ form.old_password.label }}
                </strong>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <p style="padding: 1rem; color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <strong>
                    {{ form.new_password1.label }}
                </strong>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <p style="padding: 1rem; color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <strong>
                    {{ form.new_password2.label }}
                </strong>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <p style="padding: 1rem; color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form__btn">
                    <button class="btn">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</section>