{% load static %}
<section class="signup__signin partition__large">
    <div class="signup__signin__wrapper wrapper display__grid">
        <div class="sign__in">
            <h3 class="partition__title">{{ page }}</h3>
            <p style="font-weight: bold; color: #088179; margin-block: 2rem;">
                Forgot Your Password, Insert Your E-mail to Send a Reset Password E-Mail.
            </p>
            <form method="POST" class="form display__grid" novalidate>
                {% csrf_token %}
                <strong>
                    {{ form.email.label }}
                </strong>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p style="padding: 1rem; color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form__btn">
                    <button class="btn btn__medium btn__logout">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>