{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page }}{% endblock title %}

{% block content %}

<!-- =--------------------------------------= Start BreadCrumbs Partition =------------------= -->
{% include "../bags/_parts/_breadcrumbs.html" %}
<!-- =--------------------------------------= End BreadCrumbs Partition =------------------= -->

<!-- =--------------------------------------= Start Bags Partition =------------------= -->
{% include "../bags/_parts/_bag_part.html" %}
<!-- =--------------------------------------= End Bags Partition =------------------= -->

<!-- =--------------------------------------= Start NewsLetter Partition =------------------= -->
{% include "../bags/_parts/_newsletter.html" %}
<!-- =--------------------------------------= End NewsLetter Partition =------------------= -->

{% endblock content %}