{% load static %}
<!-- =--------------------------------------= Start Products Grid Partition =------------------= -->
<section class="products wrapper partition__large">
	{% if products_count %}
	<p class="total__products">There Is <span>{{ products_count }}</span> Products are found</p>
	{% else %}
	<p class="total__products">There Is <span>No</span> Products are found</p>
	{% endif %}
	<div class="products__wrapper display__grid">
		{% for product in products %}
		<div class="product__item">
			<div class="product__banner">
				<a href="{{ product.get_absolute_url }}" class="product__images">
					{% if product.image %}
					<img src="{{ product.image.url }}" class="product__image product__image__default" />
					{% else %}
					<img src="{% static 'images/Product-08-01' %}" class="product__image product__image__default" />
					{% endif %}
					{% if product.image_two %}
					<img src="{{ product.image_two.url }}" class="product__image product__image__hover" />
					{% else %}
					<img src="{% static 'images/Product-08-02' %}" class="product__image product__image__default" />
					{% endif %}
				</a>
				<div class="product__actions">
					<a href="{{ product.get_absolute_url }}" aria-label="Quick View">
						<i class="fi fi-br-eye"></i>
					</a>
					<a href="{% url 'Bags:WishListUrl' %}" aria-label="Add To WishList">
						<i class="fi fi-br-heart"></i>
					</a>
				</div>
				{% if product.badge == "Best Seller" %}
				<div class="product__badge product__badge__light__pink">{{ product.badge }}</div>
				{% elif product.badge == "Featured" %}
				<div class="product__badge product__badge__light__green">{{ product.badge }}</div>
				{% elif product.badge == "Trending" %}
				<div class="product__badge product__badge__light__orange">{{ product.badge }}</div>
				{% elif product.badge == "New Arrival" %}
				<div class="product__badge product__badge__light__blue">{{ product.badge }}</div>
				{% else %}
				{% endif %}
			</div>
			<div class="product__content">
				<span class="product__category">{{ product.category }}</span>
				<a href="{{ product.get_absolute_url }}">
					<h3 class="product__name">{{ product.name }}</h3>
				</a>
				<div class="product__stars">
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
				</div>
				<div class="product__price display__flex">
					<span class="new__price">&dollar;{{ product.price }}</span>
					{% if product.price_before %}
					<span class="old__price">&dollar;{{ product.price_before }}</span>
					{% endif %}
				</div>
				<a href="#" class="bag__button" aria-label="Add To Bag">
					<i class="fi fi-br-shopping-bag-add"></i>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% if is_paginated %}
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li>
			<a href="?page=1" class="pagination__link pagination__link__icon">First</a>
		</li>
		<li>
			<a href="?page={{ page_obj.previous_page_number }}" class="pagination__link pagination__link__icon">
				<i class="fi fi-br-angle-double-small-left"></i>
			</a>
		</li>
		{% endif %}

		<li>
			<a href="{% url 'Products:AllProductsUrl' %}?page={{ page_num }}" class="pagination__link pagination__link__active">{{ page_obj.number }}</a>
		</li>

		{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}" class="pagination__link pagination__link__icon">
				<i class="fi fi-br-angle-double-small-right"></i>
			</a>
		</li>
		<li>
			<a href="?page={{ page_obj.paginator.num_pages }}" class="pagination__link pagination__link__icon">Last</a>
		</li>
		{% endif %}
	</ul>
	{% endif %}
</section>
<!-- =--------------------------------------= End Products Grid Partition =------------------= -->

<!--

<li>
	<a href="" class="pagination__link pagination__link__active">01</a>
</li>
<li>
	<a href="" class="pagination__link">02</a>
</li>
<li>
	<a href="" class="pagination__link">03</a>
</li>
<li>
	<a href="" class="pagination__link">...</a>
</li>
<li>
	<a href="" class="pagination__link">25</a>
</li>
<li>
	<a href="" class="pagination__link pagination__link__icon">
		<i class="fi fi-br-angle-double-small-right"></i>
	</a>
</li>


{% if is_paginated %}
<ul class="pagination">
	{% for page_num in page_obj.paginator.page_range %}
	<li>
		<a {% if page_num == page_obj.number %}class="pagination__link pagination__link__active"{% endif %} href="{% url 'Products:AllProductsUrl' %}?page={{ page_num }}" class="pagination__link">{{ page_num }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}



-->