{% load static %}
<!-- =--------------------------------------= Start Compare Partition =------------------= -->
<section class="compare wrapper partition__large">
	<table class="compare__table">
		<tr>
			<th>Image</th>
			<td>
				<img src="{% static 'images/Product-10-01.jpg' %}" class="compare__image" />
			</td>
			<td>
				<img src="{% static 'images/Product-03-01.jpg' %}" class="compare__image" />
			</td>
			<td>
				<img src="{% static 'images/Product-08-01.jpg' %}" class="compare__image" />
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<h3 class="table__title">Lorem ipsum dolor sit amet</h3>
			</td>
			<td>
				<h3 class="table__title">Lorem, ipsum dolor si amet</h3>
			</td>
			<td>
				<h3 class="table__title">Lorem ipsum, dolor si amet</h3>
			</td>
		</tr>
		<tr>
			<th>Price</th>
			<td>
				<span class="table__price">&dollar;325.46</span>
			</td>
			<td>
				<span class="table__price">&dollar;325.46</span>
			</td>
			<td>
				<span class="table__price">&dollar;325.46</span>
			</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem magnam non exercitationem illum doloremque harum dolore voluptates veniam quisquam pariatur.</p>
			</td>
			<td>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Pariatur minima ipsa adipisci quisquam fugiat. Quae eaque culpa tenetur. Earum, natus!</p>
			</td>
			<td>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio qui veritatis accusantium sapiente omnis atque modi sed illo nam animi!</p>
			</td>
		</tr>
		<tr>
			<th>Colors</th>
			<td>
				<ul class="color__list compare__colors">
					<li>
						<a href="#" class="color__link" style="background: hsl(37, 100%, 65%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(535, 100%, 67%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(49, 100%, 60%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(304, 100%, 78%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(126, 61%, 52%);"></a>
					</li>
				</ul>
			</td>
			<td>
				<ul class="color__list compare__colors">
					<li>
						<a href="#" class="color__link" style="background: hsl(37, 100%, 65%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(535, 100%, 67%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(49, 100%, 60%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(304, 100%, 78%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(126, 61%, 52%);"></a>
					</li>
				</ul>
			</td>
			<td>
				<ul class="color__list compare__colors">
					<li>
						<a href="#" class="color__link" style="background: hsl(37, 100%, 65%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(535, 100%, 67%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(49, 100%, 60%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(304, 100%, 78%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(126, 61%, 52%);"></a>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>Availabilty</th>
			<td>
				<span class="table__availability">Available</span>
			</td>
			<td>
				<span class="table__availability">Available</span>
			</td>
			<td>
				<span class="table__availability__red">Unavailable</span>
			</td>
		</tr>
		<tr>
			<th>Weight</th>
			<td>
				<span class="table__weight">1.6 Kg.</span>
			</td>
			<td>
				<span class="table__weight">1.6 Kg.</span>
			</td>
			<td>
				<span class="table__weight">1.6 Kg.</span>
			</td>
		</tr>
		<tr>
			<th>Dimensions</th>
			<td>
				<span class="table__dimensions">N/A</span>
			</td>
			<td>
				<span class="table__dimensions">N/A</span>
			</td>
			<td>
				<span class="table__dimensions">N/A</span>
			</td>
		</tr>
		<tr>
			<th>Buy</th>
			<td>
				<a href="#" class="btn btn__small">Add To Bag</a>
			</td>
			<td>
				<a href="#" class="btn btn__small">Add To Bag</a>
			</td>
			<td>
				<a href="#" class="btn btn__small">Add To Bag</a>
			</td>
		</tr>
		<tr>
			<th>Remove</th>
			<td>
				<i class="fi fi-br-trash-xmark table__trash"></i>
			</td>
			<td>
				<i class="fi fi-br-trash-xmark table__trash"></i>
			</td>
			<td>
				<i class="fi fi-br-trash-xmark table__trash"></i>
			</td>
		</tr>
	</table>
</section>
		<!-- =--------------------------------------= End Compare Partition =------------------= -->