{% load static %}
<!-- =--------------------------------------= Start Product Details Partition =------------------= -->
<section class="details partition__large">
	<div class="details__wrapper wrapper display__grid">
		<div class="details__group">
			{% if product.image.url %}
			<img src="{{ product.image.url }}" class="details__image" id="image-one" />
			{% endif %}
			<div class="details__thmbnails display__grid">
				{% if product.image_two.url %}
				<img src="{{ product.image_two.url }}" class="details__thmbnail" />	
				{% endif %}
				{% if product.image.url %}
				<img src="{{ product.image.url }}" class="details__thmbnail" />	
				{% endif %}
			</div>
		</div>
		<div class="details__group">
			<h3 class="details__title">{{ product.name }}</h3>
			<p class="details__brand">
				Category: <span>{{ product.category }}</span>
			</p>
			<div class="details__price display__flex">
				<span class="new__price">&dollar;{{ product.price }}</span>
				{% if product.price_before %}
				<span class="old__price">&dollar;{{ product.price_before }}</span>
				<span class="save__price">20&#37; Off</span>
				{% endif %}
			</div>
			<p class="short__description">{{ product.description }}</p>
			<ul class="product__list">
				<li class="list__item display__flex">
					<i class="fi fi-br-crown"></i>
					5 years AMW Brand Warranty
				</li>
				<li class="list__item display__flex">
					<i class="fi fi-br-spinner"></i>
					20 Days Return Policy
				</li>
				<li class="list__item display__flex">
					<i class="fi fi-br-credit-card"></i>
					Cash On Delivery Allowance
				</li>
			</ul>
			<div class="details__color display__flex">
				<span class="details__color__title">Color</span>
				<ul class="color__list">
					<li>
						<a href="#" class="color__link" style="background: hsl(37, 100%, 65%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(535, 100%, 67%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(49, 100%, 60%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(304, 100%, 78%);"></a>
					</li>
					<li>
						<a href="#" class="color__link" style="background: hsl(126, 61%, 52%);"></a>
					</li>
				</ul>
			</div>
			<div class="details__size display__flex">
				<span class="details__size__title">Size</span>
				<ul class="size__list">
					<li>
						<a href="#" class="size__link size__link__active">S</a>
					</li>
					<li>
						<a href="#" class="size__link">M</a>
					</li>
					<li>
						<a href="#" class="size__link">L</a>
					</li>
					<li>
						<a href="#" class="size__link">XL</a>
					</li>
					<li>
						<a href="#" class="size__link">XXL</a>
					</li>
				</ul>
			</div>
			<div class="details__action">
				<input type="number" value="1" class="quantity" />
				<a href="{% url 'Bags:BagUrl' %}" class="btn btn__small">Add To Bag</a>
				<a href="#" class="details__action__btn">
					<i class="fi fi-br-heart"></i>
				</a>
			</div>
			<ul class="details__meta">
				<li class="meta__list display__flex">
					<span>SKU:</span> {{ product.sku }}
				</li>
				<li class="meta__list display__flex">
					<span>Badge:</span> {{ product.badge }}
				</li>
				<li class="meta__list display__flex">
					<span>In Stock:</span> {{ product.inventory }} Items In Stock
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- =--------------------------------------= End Product Details Partition =------------------= -->