{% load static %}
<!-- =--------------------------------------= Start Related Product Partition =------------------= -->
<section class="products wrapper partition__large">
	<h3 class="partition__title">
		<span>Related</span> Products
	</h3>
	<div class="products__wrapper display__grid">
		{% for related_product in related_products %}
		<div class="product__item">
			<div class="product__banner">
				<a href="{{ related_product.get_absolute_url }}" class="product__images">
					{% if related_product.image.url %}
					<img src="{{ related_product.image.url }}" class="product__image product__image__default" />
					{% endif %}
					{% if related_product.image_two.url %}
					<img src="{{ related_product.image_two.url }}" class="product__image product__image__hover" />
					{% endif %}
				</a>
				<div class="product__actions">
					<a href="{{ related_product.get_absolute_url }}" aria-label="Quick View">
						<i class="fi fi-br-eye"></i>
					</a>
					<a href="#" aria-label="Add To WishList">
						<i class="fi fi-br-heart"></i>
					</a>
				</div>
				{% if related_product.badge == "Best Seller" %}
				<div class="product__badge product__badge__light__pink">{{ related_product.badge }}</div>
				{% elif related_product.badge == "Featured" %}
				<div class="product__badge product__badge__light__green">{{ related_product.badge }}</div>
				{% elif related_product.badge == "Trending" %}
				<div class="product__badge product__badge__light__orange">{{ related_product.badge }}</div>
				{% elif related_product.badge == "New Arrival" %}
				<div class="product__badge product__badge__light__blue">{{ related_product.badge }}</div>
				{% else %}
				{% endif %}
			</div>
			<div class="product__content">
				<span class="product__category">{{ related_product.category }}</span>
				<a href="{{ related_product.get_absolute_url }}">
					<h3 class="product__name">{{ related_product.name }}</h3>
				</a>
				<div class="product__stars">
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
					<i class="fi fi-br-star"></i>
				</div>
				<div class="product__price display__flex">
					<span class="new__price">&dollar;{{ related_product.price }}</span>
					{% if related_product.price_before %}
					<span class="old__price">&dollar;{{ related_product.price_before }}</span>
					{% endif %}
				</div>
				<button role="button" type="button" class="bag__button" aria-label="Add To Bag">
					<i class="fi fi-br-shopping-bag-add"></i>
				</button>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<!-- =--------------------------------------= End Related Product Partition =------------------= -->