{% load static %}
<section class="deals partition">
	<div class="deals__wrapper wrapper display__grid">
		<div class="deals__item">
			<div class="deals__group">
				<h3 class="deals__brand">Deals Of The Week</h3>
				<span class="deals__category">Limitted Offer.</span>
			</div>
			<h4 class="deals__title">Wunter Collection Arrived Yesterday</h4>
			<div class="deals__price display__flex">
				<span class="deals__price__new">&dollar;765.32</span>
				<span class="deals__price__old">&dollar;879.58</span>
			</div>
			<div class="deals__group">
				<p class="count_down_text">Go For It, It Ends In:</p>
				<div class="count__down">
					<div class="count__down__amount">
						<p class="period">5</p>
						<span class="unit">Days</span>
					</div>
					<div class="count__down__amount">
						<p class="period">15</p>
						<span class="unit">Hrs</span>
					</div>
					<div class="count__down__amount">
						<p class="period">43</p>
						<span class="unit">Min</span>
					</div>
					<div class="count__down__amount">
						<p class="period">23</p>
						<span class="unit">Sec</span>
					</div>
				</div>
			</div>
			<div class="deals__btn">
				<a href="{% url 'Products:AllProductsUrl' %}" class="btn btn__medium">Shop Now</a>
			</div>
		</div>
		<div class="deals__item">
			<div class="deals__group">
				<h3 class="deals__brand">Ladies Accessories</h3>
				<span class="deals__category">Try New Things on Holiday</span>
			</div>
			<h4 class="deals__title">Wunter Collection Arrived Yesterday</h4>
			<div class="deals__price display__flex">
				<span class="deals__price__new">&dollar;765.32</span>
				<span class="deals__price__old">&dollar;879.58</span>
			</div>
			<div class="deals__group">
				<p class="count_down_text">Go For It, It Ends In:</p>
				<div class="count__down">
					<div class="count__down__amount">
						<p class="period">5</p>
						<span class="unit">Days</span>
					</div>
					<div class="count__down__amount">
						<p class="period">15</p>
						<span class="unit">Hrs</span>
					</div>
					<div class="count__down__amount">
						<p class="period">43</p>
						<span class="unit">Min</span>
					</div>
					<div class="count__down__amount">
						<p class="period">23</p>
						<span class="unit">Sec</span>
					</div>
				</div>
			</div>
			<div class="deals__btn">
				<a href="{% url 'Products:AllProductsUrl' %}" class="btn btn__medium">Shop Now</a>
			</div>
		</div>
	</div>			
</section>