{% load static %}
<section class="new__arrivals partition wrapper">
	<h3 class="partition__title">
		<span>New</span> Arrivals
	</h3>			
	<div class="new__arrivals__wrapper swiper" id="new-arrivals-wrapper">
		<div class="swiper-wrapper swiper__wrapper">
			{% for product in products %}
			<div class="new__arrival__item swiper-slide">
				<div class="new__arrival__banner">
					<a href="{{ product.get_absolute_url }}" class="new__arrival__images">
						{% if product.image.url %}
						<img src="{{ product.image.url }}" class="new__arrival__image new__arrival__image__default" />
						{% endif %}
						{% if product.image_two.url %}
						<img src="{{ product.image_two.url }}" class="new__arrival__image new__arrival__image__hover" />
						{% endif %}
					</a>
					<div class="new__arrival__actions">
						<a href="{{ product.get_absolute_url }}" aria-label="Quick View">
							<i class="fi fi-br-eye"></i>
						</a>
						<a href="{% url 'Bags:WishListUrl' %}" aria-label="Add To WishList">
							<i class="fi fi-br-heart"></i>
						</a>
						<a href="{% url 'Products:CompareProductsUrl' %}" aria-label="Compare">
							<i class="fi fi-br-shuffle"></i>
						</a>
					</div>
					{% if product.badge == "New Arrival" %}
					<div class="new__arrival__badge new__arrival__badge__light__pink">{{ product.badge }}</div>
					{% elif product.badge == "Trending" %}
					<div class="new__arrival__badge new__arrival__badge__light__green">{{ product.badge }}</div>
					{% elif product.badge == "Featured" %}
					<div class="new__arrival__badge new__arrival__badge__light__blue">{{ product.badge }}</div>
					{% elif product.badge == "Best Seller" %}
					<div class="new__arrival__badge new__arrival__badge__light__orange">{{ product.badge }}</div>
					{% else %}
					{% endif %}
				</div>
				<div class="new__arrival__content">
					<span class="new__arrival__category">{{ product.category }}</span>
					<a href="{{ product.get_absolute_url }}">
						<h3 class="new__arrival__name">{{ product.name }}</h3>
					</a>
					<div class="new__arrival__stars">
						<i class="fi fi-br-star"></i>
						<i class="fi fi-br-star"></i>
						<i class="fi fi-br-star"></i>
						<i class="fi fi-br-star"></i>
						<i class="fi fi-br-star"></i>
					</div>
					<div class="new__arrival__price display__flex">
						<span class="new__price">&dollar;{{ product.price }}</span>
						{% if product.price_before %}
						<span class="old__price">&dollar;{{ product.price_before }}</span>
						{% endif %}
					</div>
					<a href="#" class="bag__button" aria-label="Add To Bag">
						<i class="fi fi-br-shopping-bag-add"></i>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="swiper-button-next" id="new-arrivals-swiper-button-next">
			<i class="fi fi-br-angle-small-right"></i>
		</div>
		<div class="swiper-button-prev" id="new-arrivals-swiper-button-prev">
			<i class="fi fi-br-angle-small-left"></i>
		</div>
	</div>
</section>