{% load static %}
<section class="products partition wrapper">
	<div class="tab__buttons">
		<span class="tab__button tab__button__active" data-target="#featured-items">Featured</span>
		<span class="tab__button" data-target="#popular-items">Popular</span>
		<span class="tab__button" data-target="#new-arrivals">New Arivals</span>
	</div>
	<div class="tab__items">
		<div class="tab__item tab__item__active" content id="featured-items">
			<div class="products__wrapper display__grid">
				{% for trends_product in trends_products %}
				<div class="product__item">
					<div class="product__banner">
						<a href="{{ trends_product.get_absolute_url }}" class="product__images">
							{% if trends_product.image.url %}
							<img src="{{ trends_product.image.url }}" class="product__image product__image__default" />
							{% endif %}
							{% if trends_product.image_two.url %}
							<img src="{{ trends_product.image_two.url }}" class="product__image product__image__hover" />
							{% endif %}							
						</a>
						<div class="product__actions">
							<a href="{{ trends_product.get_absolute_url }}" aria-label="Quick View">
								<i class="fi fi-br-eye"></i>
							</a>
							<a href="{% url 'Bags:WishListUrl' %}" aria-label="Add To WishList">
								<i class="fi fi-br-heart"></i>
							</a>
						</div>
						{% if trends_product.badge == "New Arrival" %}
						<div class="product__badge product__badge__light__pink">{{ trends_product.badge }}</div>
						{% elif trends_product.badge == "Trending" %}
						<div class="product__badge product__badge__light__pink">{{ trends_product.badge }}</div>
						{% elif trends_product.badge == "Featured" %}
						<div class="product__badge product__badge__light__pink">{{ trends_product.badge }}</div>
						{% elif trends_product.badge == "Best Seller" %}
						<div class="product__badge product__badge__light__pink">{{ trends_product.badge }}</div>
						{% else %}
						{% endif %}
					</div>
					<div class="product__content">
						<span class="product__category">{{ trends_product.category }}</span>
						<a href="{{ trends_product.get_absolute_url }}">
							<h3 class="product__name">{{ trends_product.name }}</h3>
						</a>
						<div class="product__stars">
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
						</div>
						<div class="product__price display__flex">
							<span class="new__price">&dollar;{{ trends_product.price }}</span>
							{% if trends_product.price_before %}
							<span class="old__price">&dollar;{{ trends_product.price_before }}</span>
							{% endif %}
						</div>
						<a href="#" class="bag__button" aria-label="Add To Bag">
							<i class="fi fi-br-shopping-bag-add"></i>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="tab__item" content id="popular-items">
			<div class="products__wrapper display__grid">
				{% for feat_product in feat_products %}
				<div class="product__item">
					<div class="product__banner">
						<a href="{{ feat_product.get_absolute_url }}" class="product__images">
							{% if feat_product.image.url %}
							<img src="{{ feat_product.image.url }}" class="product__image product__image__default" />
							{% endif %}
							{% if feat_product.image_two.url %}
							<img src="{{ feat_product.image_two.url }}" class="product__image product__image__hover" />
							{% endif %}							
						</a>
						<div class="product__actions">
							<a href="{{ feat_product.get_absolute_url }}" aria-label="Quick View">
								<i class="fi fi-br-eye"></i>
							</a>
							<a href="{% url 'Bags:WishListUrl' %}" aria-label="Add To WishList">
								<i class="fi fi-br-heart"></i>
							</a>
						</div>
						{% if feat_product.badge == "New Arrival" %}
						<div class="product__badge product__badge__light__pink">{{ feat_product.badge }}</div>
						{% elif feat_product.badge == "Trending" %}
						<div class="product__badge product__badge__light__pink">{{ feat_product.badge }}</div>
						{% elif feat_product.badge == "Featured" %}
						<div class="product__badge product__badge__light__pink">{{ feat_product.badge }}</div>
						{% elif feat_product.badge == "Best Seller" %}
						<div class="product__badge product__badge__light__pink">{{ feat_product.badge }}</div>
						{% else %}
						{% endif %}
					</div>
					<div class="product__content">
						<span class="product__category">{{ feat_product.category }}</span>
						<a href="{{ feat_product.get_absolute_url }}">
							<h3 class="product__name">{{ feat_product.name }}</h3>
						</a>
						<div class="product__stars">
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
						</div>
						<div class="product__price display__flex">
							<span class="new__price">&dollar;{{ feat_product.price }}</span>
							{% if feat_product.price_before %}
							<span class="old__price">&dollar;{{ feat_product.price_before }}</span>
							{% endif %}
						</div>
						<a href="#" class="bag__button" aria-label="Add To Bag">
							<i class="fi fi-br-shopping-bag-add"></i>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="tab__item" content id="new-arrivals">
			<div class="products__wrapper display__grid">
				{% for best_product in best_products %}
				<div class="product__item">
					<div class="product__banner">
						<a href="{{ best_product.get_absolute_url }}" class="product__images">
							{% if best_product.image.url %}
							<img src="{{ best_product.image.url }}" class="product__image product__image__default" />
							{% endif %}
							{% if best_product.image_two.url %}
							<img src="{{ best_product.image_two.url }}" class="product__image product__image__hover" />
							{% endif %}							
						</a>
						<div class="product__actions">
							<a href="{{ best_product.get_absolute_url }}" aria-label="Quick View">
								<i class="fi fi-br-eye"></i>
							</a>
							<a href="{% url 'Bags:WishListUrl' %}" aria-label="Add To WishList">
								<i class="fi fi-br-heart"></i>
							</a>
						</div>
						{% if best_product.badge == "New Arrival" %}
						<div class="product__badge product__badge__light__pink">{{ best_product.badge }}</div>
						{% elif best_product.badge == "Trending" %}
						<div class="product__badge product__badge__light__pink">{{ best_product.badge }}</div>
						{% elif best_product.badge == "Featured" %}
						<div class="product__badge product__badge__light__pink">{{ best_product.badge }}</div>
						{% elif best_product.badge == "Best Seller" %}
						<div class="product__badge product__badge__light__pink">{{ best_product.badge }}</div>
						{% else %}
						{% endif %}
					</div>
					<div class="product__content">
						<span class="product__category">{{ best_product.category }}</span>
						<a href="{{ best_product.get_absolute_url }}">
							<h3 class="product__name">{{ best_product.name }}</h3>
						</a>
						<div class="product__stars">
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
							<i class="fi fi-br-star"></i>
						</div>
						<div class="product__price display__flex">
							<span class="new__price">&dollar;{{ best_product.price }}</span>
							{% if best_product.price_before %}
							<span class="old__price">&dollar;{{ best_product.price_before }}</span>
							{% endif %}
						</div>
						<a href="#" class="bag__button" aria-label="Add To Bag">
							<i class="fi fi-br-shopping-bag-add"></i>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>