{% load static %}
<section class="showcase partition">
	<div class="showcase__wrapper wrapper display__grid">
		<div class="showcase__column">
			<h3 class="partition__title">Hot Releases</h3>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-01.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-02.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-03.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
		</div>
		<div class="showcase__column">
			<h3 class="partition__title">Deals & Outlet</h3>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-04.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-05.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-06.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
		</div>
		<div class="showcase__column">
			<h3 class="partition__title">Top Selling</h3>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-07.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-08.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-09.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
		</div>
		<div class="showcase__column">
			<h3 class="partition__title">Trendy</h3>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-03.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-08.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
			<div class="showcase__item">
				<a href="{% url 'Products:ProductDetailsUrl' %}" class="showcase__image__box">
					<img src="{% static 'images/ShowCase-05.jpg' %}" class="showcase__image" />
				</a>
				<div class="showcase__content">
					<a href="{% url 'Products:ProductDetailsUrl' %}">
						<h4 class="showcase__title">Lorem ipsum dolor sit amet consectetur</h4>
					</a>
					<div class="showcase__price display__flex">
						<span class="new__price">&dollar;4356.52</span>
						<span class="old__price">&dollar;5632.45</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>